
.profile
{
    width:100%;
}
.filtering
{
    padding: 10px;
    margin: 10px;
    font-family: "Khmer OS Freehand";
}
.title
{
    font-family: "Khmer OS Freehand";
    font-size: 1.2em;
    padding: 20px 10px;
    text-align: center;
}
.row-officer
{
    border:1px solid lightgray;
    border-radius: 5px;
}
.row-details *
{
    font-family: "Khmer OS Freehand";
}
.addnew{
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
}
.action{
    width: 15%;
    text-align: center;
}
.titles{
    width: 35%;
}
.modalform
{
    font-family: "Khmer OS Freehand";
}



