.position-row
{
    margin: 10px;
    border: 2px solid lightgray; 
    border-radius: 5px;
    padding: 10px;
}
.head-position
{
    margin: 10px;
    border: 2px solid darkcyan;
    padding: 10px;
    border-radius: 5px;
    background-color: lightblue;
}