
.logo
{
    width: 200px;
    height: 200px;
    margin: auto;
    display: block;
}
.header-wrapper
{
    background-color: darkgray;
}
.caption
{
    padding-top: 20px;
}
.caption *
{
    text-align: center;
    font-family: "Khmer OS Muol Light";
}
.navigation
{
    background-color: lightgray;
    font-family: "Khmer OS Muol Light";
}
.link-wrapper
{
    padding: 20px 40px;
    height: auto;
}
.navigate
{
    padding: 20px 40px;
    color: brown;
}